{% extends 'base.html' %}

{% block content %}
{% load static %}

<div class="row">
    <div class="col-md-8 mt-3 offset-md-2">

        <h1>Booking Confirmation</h1>
        <p>Thank you {{ booking.customer_name }} for booking {{ booking.giftbox.name }}!</p>
        <p>Your booking is confirmed. A member of the GBD team will be in touch soon! {{ booking.customer_email }}.</p>

        <br>
        <br>

        <div>
            <img src="{% static 'images/banner_enhanced11.jpg' %}" class="img-fluid" alt="Responsive image">
        </div>
        <div>
            <img src="{% static 'images/banner3_enhanced4.jpg' %}" class="img-fluid" alt="Responsive image">
        </div>

    </div>
</div>

{% endblock content %}
