{% extends 'base.html' %}
{% block content %}
{% load static %}

<!--- features-->
<div class="container-wrapper container-wrapper--gold" style="background-color: #c58a00;">
    <div class="container features-container content-container">
        <section class="features">
            <div class="row">
                <div class="col-12 page-header">
                    <h2 class="text-uppercase">Gift Box Features:</h2>
                    <hr class="block-divider block-divider--short block-divider--white">
                </div>
            </div>
            <div class="row">
                <!-- Gift Box 1 -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="feature">
                        <h3><i class="fas fa-gift d-none d-sm-inline"></i> Gift Box 1 <span class="badge badge-warning">New!</span></h3>
                        <p> - New Mum Gift Box - </p>
                        <img class="card-img-top" src="{% static 'images/gb1.jpg' %}" alt="Card image cap">
                        <p><b>
                            - Handmade Soap Company hand cream, hand made in Ireland.<br>
                            - Mango Body Butter from Dublin Herbalist made with mango butter and avocado oil.<br>
                            - Three Hills Soap Bath Soak/Salts handcrafted in small batches in Dublin.<br>
                            - Bean & Goose Irish Sea Salt Chocolate. Made in Ireland.
                        </b></p>
                        <hr class="block-divider block-divider--short block-divider--white">
                    </div>
                </div>

                <!-- Gift Box 2 -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="feature">
                        <h3><i class="fas fa-gift d-none d-sm-inline"></i> Gift Box 2 <span class="badge badge-warning">New!</span></h3>
                        <p> - New Dad Gift Box - </p>
                        <img class="card-img-top" src="{% static 'images/gb3.jpg' %}" alt="Card image cap">
                        <p><b>
                            - Three Hills Soap Irish Activated Charcoal Soap is hand made natural soap.<br>
                            - Choice of socks from Irish Socksciety, made in Ireland from 100% cotton.<br>
                            - Oxmantown Vetiver & Sage Beard & Face. Suitable for dads both with and without beards!<br>
                            - Badger & Dodo Coffee, Roasted in Cork.
                        </b></p>
                        <hr class="block-divider block-divider--short block-divider--white">
                    </div>
                </div>

                <!-- Gift Box 3 -->
                <div class="col-12 d-md-none d-lg-block col-lg-4">
                    <div class="feature">
                        <h3><i class="fas fa-gift d-none d-sm-inline"></i> Gift Box 3 <span class="badge badge-warning">New!</span></h3>
                        <p> - Gift Box For Grandad - </p>
                        <img class="card-img-top" src="{% static 'images/gb1.jpg' %}" alt="Card image cap">
                        <p><b>
                            - Handmade Soap Company hand cream, hand made in Ireland.<br>
                            - Mango Body Butter from Dublin Herbalist made with mango butter and avocado oil.<br>
                            - Three Hills Soap Bath Soak/Salts handcrafted in small batches in Dublin.<br>
                            - The real bean to bar dark chocolate.<br>
                            - Badger & Dodo Coffee, blended in Cork.
                        </b></p>
                        <hr class="block-divider block-divider--short block-divider--white">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Banner for media -->
<div>
    <img src="{% static 'images/16012025.jpg' %}" class="img-fluid" alt="Responsive image">
</div>

<!--- features set 2 gift box 4-5-6 -->
<div class="container-wrapper container-wrapper--gold" style="background-color: #c58a00;">
    <div class="container features-container content-container">
        <section class="features">
            <div class="row">
                <div class="col-12 page-header">
                    <h2 class="text-uppercase">Gift Box Features:</h2>
                    <hr class="block-divider block-divider--short block-divider--white">
                </div>
            </div>
            <div class="row">
                <!-- Gift Box 4 -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="feature">
                        <h3><i class="fas fa-gift d-none d-sm-inline"></i> Gift Box 4 <span class="badge badge-warning">New!</span></h3>
                        <p> - New Mum Gift Box - </p>
                        <img class="card-img-top" src="{% static 'images/gb1.jpg' %}" alt="Card image cap">
                        <p><b>
                            - Handmade Soap Company hand cream, hand made in Ireland.<br>
                            - Mango Body Butter from Dublin Herbalist made with mango butter and avocado oil.<br>
                            - Three Hills Soap Bath Soak/Salts handcrafted in small batches in Dublin.<br>
                            - Bean & Goose Irish Sea Salt Chocolate. Made in Ireland.
                        </b></p>
                        <hr class="block-divider block-divider--short block-divider--white">
                    </div>
                </div>

                <!-- Gift Box 5 -->
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="feature">
                        <h3><i class="fas fa-gift d-none d-sm-inline"></i> Gift Box 5 <span class="badge badge-warning">New!</span></h3>
                        <p> - New Dad Gift Box - </p>
                        <img class="card-img-top" src="{% static 'images/gb3.jpg' %}" alt="Card image cap">
                        <p><b>
                            - Three Hills Soap Irish Activated Charcoal Soap is hand made natural soap.<br>
                            - Choice of socks from Irish Socksciety, made in Ireland from 100% cotton.<br>
                            - Oxmantown Vetiver & Sage Beard & Face. Suitable for dads both with and without beards!<br>
                            - Badger & Dodo Coffee, Roasted in Cork.
                        </b></p>
                        <hr class="block-divider block-divider--short block-divider--white">
                    </div>
                </div>

                <!-- Gift Box 6 -->
                <div class="col-12 d-md-none d-lg-block col-lg-4">
                    <div class="feature">
                        <h3><i class="fas fa-gift d-none d-sm-inline"></i> Gift Box 6 <span class="badge badge-warning">New!</span></h3>
                        <p> - Gift Box For Nan - </p>
                        <img class="card-img-top" src="{% static 'images/gb1.jpg' %}" alt="Card image cap">
                        <p><b>
                            - Handmade Soap Company hand cream, hand made in Ireland.<br>
                            - Mango Body Butter from Dublin Herbalist made with mango butter and avocado oil.<br>
                            - Three Hills Soap Bath Soak/Salts handcrafted in small batches in Dublin.<br>
                            - Premium bean to bar dark chocolate.<br>
                            - Badger & Dodo Coffee, blended in Cork.
                        </b></p>
                        <hr class="block-divider block-divider--short block-divider--white">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>

<!-- Sign Up Modal -->
<div class="modal" tabindex="-1" role="dialog" id="signUpModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Gift Box Direct - Sign Up</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="repeatPassword">Repeat Password</label>
                        <input type="password" class="form-control" id="repeatPassword" placeholder="Repeat Password">
                    </div>
                    <button type="submit" class="btn btn-warning">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

