{% extends 'base.html' %}

{% block content %}
<!-- CUSTOM 500 Page Error Handling Message -->
<div class="wrap-error">
    <div class="d-flex align-items-center h-100">
        <div class="container">
            <div class="row">
                <div class="col-sm-8 offset-sm-2 text-center">
                    <h1 class="error-number"><span>5</span><span>0</span><span>0</span></h1>
                    <h2 class="">Page not found</h2>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <br>
                    <h3 class="my-4">We apologise, but the page you requested was not found</h3>
                    <p class="mb-4">Click the Link below to return to the GBD Team !!</p>
                    <a class="btn btn-large btn-warning" href="{% url 'gifts' %}">Go home</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}